{% extends "base_generic.html" %}
{% block content %}
    <div class="user-form-container">
        <h1 class="user-form-title">
            {% if form.instance.pk %}
                Editar Usuario
            {% else %}
                Crear Usuario
            {% endif %}
        </h1>
        <form method="post" class="user-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="user-form-actions">
                <button type="submit" class="save-button">Guardar</button>
                <a href="{% url 'user_list' %}" class="cancel-button">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}
