{% extends  "register_base.html" %}
{% block content %}
    <div class="container">
        <div class="p-4 mb-4 rounded bg-body-secondary">
            <h1 class="display-6 fst-italic mb-4">Usuarios</h1>
            <table class="table table-hover table-striped" style="background-color: black;
            border-color: black;color:white">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td class="actions">
                                <a href="{% url 'user_edit' user.id %}" class="btn btn-sm btn-primary" style="background-color: black;
                                border-color: black;color:white">Editar</a>
                                <a href="{% url 'manage_user_groups' user.id %}"
                                   class="btn btn-sm btn-secondary" style="background-color: black;
                                   border-color: black;color:white">Rol</a>
                                <a href="{% url 'user_delete' user.id %}" class="btn btn-sm btn-danger" style="background-color: black;
                                border-color: black;color:white">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'home' %}" class="btn btn-secondary" style="background-color: black;
            border-color: black;color:white">Volver al Inicio</a>
        </div>
    </div>
{% endblock %}
