{% extends "base.html" %}
{% block content %}
<div class="container mt-5 text-white">
    <h1 class="title mb-4">Crear nueva categoria</h1>
    <div class="card bg-dark border-secondary">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-4">{{ form.as_p }}</div>
                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>

    </div>
</div>
{% endblock content %}