{% extends  "register_base.html" %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body text-black">
                <h1 class="card-title">Eliminar Categoria</h1>
                <p class="card-text">
                    ¿Estás seguro de que deseas eliminar la categoría <strong>{{ category.name }}</strong>?
                </p>
                {% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        <button type="submit"
                                class="btn btn-danger"
                                style="background-color: black;
                                       border-color: black;
                                       color:white">Eliminar</button>
                        <a href="{% url 'category_list' %}"
                           class="btn btn-secondary"
                           style="background-color: black;
                                  border-color: black;
                                  color:white">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
