/*base*/
body {
    display: flex;
        flex-direction: column;
        min-height: 100vh;
        /* Ocupa toda la altura de la ventana */
    margin: 0;
    background: linear-gradient(135deg, #a4a4a4, #dddcdc, #f1f1f1, #dddcdc, #a4a4a4);
}

/* Para asegurarse de que el contenido principal ocupe el espacio restante */
main {
    flex: 1;
}

.btn-primary {
    background-color: black;
    border-color: black;
    color: white;
}

.btn-primary:hover {
    background-color: #4a4a4a;
    /* Cambia el color de fondo en hover a un gris más claro */
    border-color: #4a4a4a;
    /* Asegúrate de que el borde también cambie */
    color: white;
    /* Mantener el color del texto en blanco */
    transform: scale(0.98);
    /* Suavemente reducir el tamaño al hacer hover */
}

/*MarkDown*/

/* Estilos para las imágenes dentro de los enlaces generados por Markdown */
a img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

a img:hover {
    transform: scale(0.97);
    transition: transform 0.3s ease;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.lightbox-content {
    margin-top: 10%;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
/*Home Posts*/
.fw-bold {
    transition: transform 0.3s ease;
    color: #000000;
}

.fw-bold:hover {
    color: #454545;

}

.card-container {
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
        /* Evitar que los elementos dentro del contenedor se salgan */
}

.card-container img {
    transition: transform 0.3s ease;
        /* Suavizar la escala de la imagen */
}

.card-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
        /* Cubrir todo el ancho del contenedor */
            height: 100%;
            /* Cubrir toda la altura del contenedor */
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    z-index: 2;
    pointer-events: none;
        /* Evitar que capture eventos de clic */
}

.card-container:hover::after {
    background-color: rgba(255, 255, 255, 0.39);
        /* Aparece el overlay */
}

.card-container:hover img {
    transform: scale(0.98);
        /* Escalar ligeramente la imagen */
}

.card-container:hover {
    transform: scale(0.98);
        /* Escalar toda la tarjeta */
}


/*navbar*/
header {
    background-color: #000000;
}

.navbar-left {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


.subscribe {
    background-color: white;
}
.navbar-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 65px;
}

.navbar-middle .navbar-slogan {
    display: block;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.navbar-right {
    display: flex;
    gap: 15px;
}

.navbar-right .subscribe {
    background-color: #ffffff;
        color: #000000;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    border: 1px solid #ffffff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar-right .login {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
}

.navbar-right .subscribe:hover,
.navbar-right .login:hover {
    background-color: #333333;
        border-color: #1f1f1f;
    color: #fff;
}

.today-paper {
    font-size: 12px;
}

#search-icon {
    cursor: pointer;
}

#search-input {
    width: 0;
    transition: width 0.4s ease-in-out;
}

#search-input.show {
    width: 200px;
    display: inline-block;
}

#headerContent {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

#headerContent a {
    color: rgb(255, 255, 255);
}

#headerTitle {
    margin-right: 10px;
}
/*ADMIN PANEL*/

/*user_list*/
.user-list-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #2e2e2e;
    /* Gris oscuro plateado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1), 0 0 15px rgba(0, 0, 0, 0.5);
    /* Añade un leve efecto metálico */
}

.user-list-container .title {
    font-size: 36px;
    color: #d9d9d9;
    margin-bottom: 20px;
    text-align: center;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th,
.user-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #ffffff;
        color: #000000;
    font-weight: bold;
}

.user-table tr:hover {
    background-color: #646566;
}

.actions a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.actions .edit-btn {
    background-color: #000000;
    color: #fff;
}

.actions .edit-btn:hover {
    background-color: #000000;
}

.actions .delete-btn {
    background-color: #000000;
    color: #fff;
}

.actions .delete-btn:hover {
    background-color: #1c1c1c;
}

.actions .group-btn {
    background-color: #000000;
    color: #fff;
}

.actions .group-btn:hover {
    background-color: #1c1c1c;
    color: #fff;
}

/*user_confirm_delete*/

.delete-user-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    /* Gris oscuro plateado */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1), 0 0 15px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
}

.delete-user-title {
    font-size: 28px;
    margin-bottom: 20px;

}

.delete-user-message {
    font-size: 18px;
    margin-bottom: 30px;
}

.delete-user-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.delete-button {
    background-color: #000000;
    /* Color rojo para el botón de eliminación */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #181818;
    /* Un tono más oscuro en hover */
}

.cancel-button {
    
    /* Color gris oscuro para el botón de cancelar */
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #1a1a1a;
    /* Un tono más oscuro en hover */
}

/*user_form*/
.user-form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #2e2e2e;
    /* Gris oscuro plateado */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1), 0 0 15px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.user-form-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #a0a0a0;
    /* Azul suave para el título */
    text-align: center;
}

.user-form {
    display: flex;
    flex-direction: column;
}

.user-form p {
    margin-bottom: 15px;
}

.user-form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-button {
    background-color: #000000;
    /* Verde para el botón de guardar */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #1a1a1a;
    /* Un tono más oscuro en hover */
}

.cancel-button {
    background-color: #000000;
    /* Gris oscuro para el botón de cancelar */
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #1a1a1a;
    /* Un tono más oscuro en hover */
}
/*manage_user_groups.html*/
.group-management-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #2e2e2e;
    /* Gris oscuro plateado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1), 0 0 15px rgba(0, 0, 0, 0.5);
    /* Añade un leve efecto metálico */
}

.group-management-container .title {
    font-size: 36px;
    color: #d9d9d9;
    margin-bottom: 20px;
    text-align: center;
}

.group-management-container .form-group {
    margin-bottom: 20px;
}

.group-management-container .save-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.group-management-container .save-btn:hover {
    background-color: #000000;
}

.group-management-container .back-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #6c757d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.group-management-container .back-btn:hover {
    background-color: #1a1a1a;
}
/*home_for_admin*/
.list-group-item-action {
    cursor: pointer;
}

.scrollspy-example {
    height: 80vh;
    overflow-y: auto;
    position: relative;
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Asegurando que el contenido y el panel estén alineados en la parte superior */
.col-2,
.col-8 {
    display: flex;
    flex-direction: column;
}

.col-2 {
    padding-right: 15px;
}

.col-8 {
    padding-left: 15px;
}
/*footer*/
footer .nav {
    margin-right: 10px;

}

footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;

}

.offcanvas-body {
    color: white;
}

#copyright {
    color: white;
}

/*burguer*/
.offcanvas {
    background-color: #000000;
}

#burguerSideBar {
    color: white;
}
/*Para el diseño responsive del login*/
@media (max-width: 768px) {
    .navbar-middle {
        font-size: 40px;
    }

    .navbar-right {
        flex-direction: column;
        align-items: center;
    }

    .navbar-right .subscribe, .navbar-right .login {
        font-size: 14px;
        margin: 5px 0;
    }

    .user-list-container, .user-form-container, .delete-user-container, .group-management-container {
        padding: 15px;
        width: 90%;
        margin: 20px auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .save-button, .cancel-button, .delete-button {
        padding: 15px 20px;
        font-size: 16px;
    }
}
/* Diseño Responsivo para el footer */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .col-md-4 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    footer ul {
        justify-content: center;
        padding: 0;
    }

    footer li {
        margin: 0 10px;
    }
}
/* para pantallas aun mas pequeñas */
@media (max-width: 480px) {
    .navbar-middle {
        font-size: 35px;
    }
    .navbar-right {
        flex-direction: column;
        align-items: center;
    }
    .user-list-container, .user-form-container, .delete-user-container, .group-management-container {
        width: 95%;
    }
    .save-button, .cancel-button, .delete-button {
        padding: 10px 15px;
        font-size: 14px;
    }
}


