.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
}

.markdown-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;
    color: #333;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3rem;
}

.markdown-content p {
    margin-bottom: 1rem;
}

.markdown-content a {
    color: #007bff;
    text-decoration: none;
}

.markdown-content a:hover {
    text-decoration: underline;
}

.markdown-content img {
    border-radius: 8px;
    max-width: 70%;
    width: 70%;
    height: auto;
    margin: 4rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.markdown-content ul,
.markdown-content ol {
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.markdown-content li {
    margin-bottom: 0.5rem;
}

.markdown-content blockquote {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-left: 4px solid #dfe2e5;
    color: #6a737d;
    background-color: #f6f8fa;
}

.markdown-content pre {
    background-color: #f6f8fa;
    padding: 1rem;
    border-radius: 6px;
    overflow-x: auto;
    border: 1px solid #d1d5da;
    margin: 1rem 0;
}

.markdown-content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.markdown-content th,
.markdown-content td {
    border: 1px solid #d1d5da;
    padding: 0.6rem;
    text-align: left;
}

.markdown-content th {
    background-color: #f6f8fa;
    font-weight: 600;
}

.markdown-content hr {
    border: 0;
    border-top: 1px solid #eaecef;
    margin: 1rem 0;
}

/*Reporte de contenido */
/* Ajustar márgenes y espaciado para los campos de formulario */
.modal-body .form-select,
.modal-body .form-control {
    margin-bottom: 15px;
    padding: 10px;
}

/* Ajustar el aspecto de los botones */
.modal-footer .btn-secondary {
    background-color: #6c757d;
}

.modal-footer .btn-danger {
    background-color: #dc3545;
}

/* Centrar el modal */
.modal-dialog {
    max-width: 500px;
}

/* Personalizar el header del modal */
.modal-header.bg-light {
    background-color: #f8f9fa;
}