{% extends "base_generic.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background-color: #333; border-color: #444;">
                    <div class="card-header text-center"
                         style="background-color: #444;
                                color: #fff">
                        <h2>Enlace de Restablecimiento Enviado</h2>
                    </div>
                    <div class="card-body" style="color: #fff;">
                        <p>Te hemos enviado un correo electrónico con un enlace para restablecer tu contraseña.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}