{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5">
        {% if messages %}
            <div>
                {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
            </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background-color: #333; border-color: #444;">
                    <div class="card-header text-center"
                         style="background-color: #444;
                                color: #fff">
                        <h2>Restablecer Contraseña</h2>
                    </div>
                    <div class="card-body" style="color: #fff;">
                        <p>
                            ¿Olvidaste tu contraseña? Ingresa tu dirección de correo electrónico a continuación, y te enviaremos instrucciones para restablecer tu contraseña.
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_email">Correo Electrónico</label>
                                {{ form.email|as_crispy_field }}
                            </div>
                            <button type="submit"
                                    class="btn btn-primary btn-block"
                                    style="background-color: #007bff;
                                           border-color: #007bff">Restablecer mi contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
