{% extends "register_base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background-color: #333; border-color: #444;">
                    <div class="card-header text-center"
                         style="background-color: white;
                                color: black">
                        <h2>Ingresa Nueva Contraseña</h2>
                    </div>
                    <div class="card-body" style="color: black;background-color:white">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit"
                                    class="btn btn-primary btn-block"
                                    style="background-color: black;
                                           border-color: black;
                                           color:white">Restablecer Contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
