{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="border rounded overflow-hidden shadow-sm text-body-emphasis bg-body-secondary p-4">
                    <h2 class="display-6 fst-italic text-center mb-4">Tu Perfil</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">{{ u_form.username|as_crispy_field }}</div>
                        <div class="mb-3">{{ u_form.email|as_crispy_field }}</div>
                        <div class="mb-3">{{ p_form.phone_number|as_crispy_field }}</div>
                        <div class="mb-3">{{ p_form.address|as_crispy_field }}</div>
                        <div class="mb-3">{{ p_form.receive_notifications|as_crispy_field }}</div>
                        <!-- Checkbox para notificaciones -->
                        <div class="mb-3">
                            <label for="groups" class="form-label">Roles asignados:</label>
                            <ul class="list">
                                {% for group in groups %}<li>{{ group.name }}</li>{% endfor %}
                            </ul>
                        </div>
                        <button type="submit"
                                class="btn btn-primary btn-block w-100"
                                style="background-color: black;
                                       border-color: black;
                                       color:white">Guardar cambios</button>
                    </form>
                </div>
            </div>
            <div class="mt-5">{% include "registration/statistics.html" %}</div>
        </div>
    </div>
{% endblock content %}
