{% extends "base_for_pages.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5">
        <h2>Tu Perfil</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="form-group">
                        <label for="username">Nombre de usuario</label>
                        {{ u_form.username|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        {{ u_form.email|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Número de teléfono</label>
                        {{ p_form.phone_number|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        {{ p_form.address|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <label for="groups">Grupos:</label>
                        <ul>
                            {% for group in groups %}<li>{{ group.name }}</li>{% endfor %}
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
