{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Usuarios
            {% endblock title %}
        </title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <header class="container mt-5">
            <div class="row justify-content-center">
                <h1>Bienvenido a MakeX</h1>
            </div>
        </header>
        <main class="container mt-5">
            {% block content %}
                <!-- Aquí va el contenido específico de cada vista -->
            {% endblock content %}
        </main>
        <footer class="container mt-5">
            <div class="row justify-content-center">
                <p>&copy; 2024 - Copyright - GroupSix</p>
            </div>
        </footer>
    </body>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
