{% load static %}
<footer class="mt-10 d-flex flex-inline justify-content-between align-items-center py-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a style="color:white">© 2024 Company, Inc</a>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-body-secondary" href="https://x.com/">
                <img src="{% static 'images/logotipos.png' %}"
                     alt="Logotipos"
                     width="30"
                     height="30">
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="https://instagram.com/">
                <img src="{% static 'images/instagram.png' %}"
                     alt="Instagram"
                     width="30"
                     height="30">
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="https://facebook.com/">
                <img src="{% static 'images/facebook.png' %}"
                     alt="Facebook"
                     width="30"
                     height="30">
            </a>
        </li>
    </ul>
</footer>
