{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="p-4 mb-4 rounded text-body-emphasis bg-body-secondary">
            <h1 class="display-6 fst-italic mb-4">Tablero Kanban</h1>
            <div class="row h-100">
                {% if can_create %}
                    <div class="col-lg-3 d-flex flex-column">
                        <div class="card flex-grow-1">
                            <div class="card-header bg-danger text-white">
                                <h3 class="h5">Borrador</h3>
                                <a href="{% url 'post_create' %}" class="btn btn-light">Crear</a>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    {% for post in drafts %}
                                        <li class="card">
                                            <a href="{% url 'post_detail' post.id %}" class="btn btn-light">
                                                {{ post.title }}
                                                <br>
                                                <small>Autor: {{ post.author }}</small>
                                            </a>
                                        </li>
                                        <div class="d-flex justify-content-between mt-2 mb-2">
                                            {% if post.can_publish_directly %}
                                                <a href="{% url 'publish_post' post.id %}" class="btn btn-success">Publicar</a>
                                            {% else %}
                                                <a href="{% url 'send_to_review' post.id %}" class="btn btn-success">Enviar</a>
                                            {% endif %}
                                            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Eliminar</a>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-3 d-flex flex-column">
                    <div class="card flex-grow-1">
                        <div class="card-header bg-warning text-white">
                            <h3 class="h5">Pendiente de Revisión</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% for post in pending_review %}
                                    <li class="card">
                                        <a href="{% url 'post_detail' post.id %}" class="btn btn-light">
                                            {{ post.title }}
                                            <br>
                                            <small>Autor: {{ post.author }}</small>
                                        </a>
                                    </li>
                                    <div class="d-flex justify-content-between mt-2 mb-2">
                                        {% if can_approve %}
                                            <a href="{% url 'approve_post' post.id %}"
                                               class="btn btn-sm btn-success">Aprovar</a>
                                        {% endif %}
                                        {% if can_reject %}
                                            <a href="{% url 'reject_post' post.id %}" class="btn btn-sm btn-danger">Rechazar</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex flex-column">
                    <div class="card flex-grow-1">
                        <div class="card-header bg-info text-white">
                            <h3 class="h5">Pendiente de Publicación</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% for post in pending_publication %}
                                    <li class="card">
                                        <a href="{% url 'post_detail' post.id %}" class="btn btn-light">
                                            {{ post.title }}
                                            <br>
                                            <small>Autor: {{ post.author }}</small>
                                        </a>
                                    </li>
                                    <div class="d-flex justify-content-between mt-2 mb-2">
                                        {% if can_publish %}
                                            <a href="{% url 'publish_post' post.id %}"
                                               class="btn btn-sm btn-success">Publicar</a>
                                        {% endif %}
                                        {% if can_reject %}
                                            <a href="{% url 'reject_post' post.id %}" class="btn btn-sm btn-danger">Rechazar</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex flex-column">
                    <div class="card flex-grow-1">
                        <div class="card-header bg-success text-white">
                            <h3 class="h5">Publicado</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% for post in published %}
                                    <li class="card mb-2">
                                        <a href="{% url 'post_detail' post.id %}" class="btn btn-light">
                                            {{ post.title }}
                                            <br>
                                            <small>Autor: {{ post.author }}</small>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
