{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="p-4 mb-4 rounded text-body-emphasis bg-body-secondary">
            <h1 class="display-6 fst-italic mb-4">Tablero Kanban</h1>
            <div class="row h-100">
                {% if can_create %}
                    <div class="col-lg-3 d-flex flex-column">
                        <div class="card flex-grow-1">
                            <div class="card-header bg-danger text-white">
                                <h3 class="h5">Borrador</h3>
                                <a href="{% url 'post_create' %}" class="btn btn-light">Crear</a>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    {% for post in drafts %}
                                        <li class="card">
                                            <a href="{% url 'post_detail' post.id %}" class="btn btn-light">
                                                {{ post.title }}
                                                <br>
                                                <small>Autor: {{ post.author }}</small>
                                                <br>
                                                <small>Categoría: {{ post.category.name }}</small>
                                                <br>
                                                <small>Tipo de Categoría: {{ post.category.tipo }}</small>
                                            </a>
                                        </li>
                                        <div class="d-flex justify-content-between mt-2 mb-2">
                                            <a href="{% url 'edit_post' post.id %}" 
                                                    class="btn btn-light" 
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#confirmationModal" 
                                                    onclick="setConfirmActionUrl(this)">
                                                        Editar
                                                    </a>
                                            {% if post.can_publish_directly %}
                                                <a href="{% url 'publish_post' post.id %}" 
                                                class="btn btn-sm btn-success" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#confirmationModal" 
                                                onclick="setConfirmActionUrl(this)">
                                                Publicar
                                                 </a>
                                            
                                            {% else %}
                                                <a href="{% url 'send_to_review' post.id %}" 
                                                class="btn btn-success" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#confirmationModal" 
                                                onclick="setConfirmActionUrl(this)">
                                                Enviar
                                            </a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-3 d-flex flex-column">
                    <div class="card flex-grow-1">
                        <div class="card-header bg-warning text-white">
                            <h3 class="h5">Pendiente de Revisión</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% for post in pending_review %}
                                    <li class="card">
                                        <a href="{% url 'post_detail' post.id %}" class="btn btn-light">
                                            {{ post.title }}
                                            <br>
                                            <small>Autor: {{ post.author }}</small>
                                        </a>
                                    </li>
                                    <div class="d-flex justify-content-between mt-2 mb-2">
                                        <a href="{% url 'edit_post' post.id %}" 
                                            class="btn btn-light" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#confirmationModal" 
                                            onclick="setConfirmActionUrl(this)">
                                                Editar
                                            </a>
                                        {% if can_approve %}
                                        <a href="{% url 'approve_post' post.id %}" 
                                        class="btn btn-sm btn-success" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#confirmationModal" 
                                        onclick="setConfirmActionUrl(this)">
                                         Aprobar
                                     </a>
                                        {% endif %}
                                        {% if can_reject %}
                                            <a href="{% url 'reject_post' post.id %}" class="btn btn-sm btn-danger">Rechazar</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex flex-column">
                    <div class="card flex-grow-1">
                        <div class="card-header bg-info text-white">
                            <h3 class="h5">Pendiente de Publicación</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% for post in pending_publication %}
                                    <li class="card">
                                        <a href="{% url 'post_detail' post.id %}" class="btn btn-light">
                                            {{ post.title }}
                                            <br>
                                            <small>Autor: {{ post.author }}</small>
                                        </a>
                                    </li>
                                    <div class="d-flex justify-content-between mt-2 mb-2">
                                        <a href="{% url 'edit_post' post.id %}" 
                                            class="btn btn-light" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#confirmationModal" 
                                            onclick="setConfirmActionUrl(this)">
                                                Editar
                                            </a>
                                        {% if can_publish %}
                                        <a href="{% url 'publish_post' post.id %}" 
                                        class="btn btn-sm btn-success" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#confirmationModal" 
                                        onclick="setConfirmActionUrl(this)">
                                         Publicar
                                     </a>
                                     
                                        {% endif %}
                                        {% if can_reject %}
                                            <a href="{% url 'reject_post' post.id %}" class="btn btn-sm btn-danger">Rechazar</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex flex-column">
                    <div class="card flex-grow-1">
                        <div class="card-header bg-success text-white">
                            <h3 class="h5">Publicado</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% for post in published %}
                                    <li class="card mb-2">
                                        <a href="{% url 'post_detail' post.id %}" class="btn btn-light">
                                            {{ post.title }}
                                            <br>
                                            <small>Autor: {{ post.author }}</small>
                                        </a>
                                        {% if "delete" in permisos %}
                                            <a href="{% url 'inactivate_post' post.id %}"
                                            class="btn btn-sm btn-danger mt-2"
                                            >Inactivar</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas realizar esta acción?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a href="#" id="confirmActionButton" class="btn btn-primary">Confirmar</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setConfirmActionUrl(element) {
            // Captura el URL del botón original
            const actionUrl = element.getAttribute("href");
            
            // Establece el URL en el botón de confirmación del modal
            document.getElementById("confirmActionButton").setAttribute("href", actionUrl);
        }
    </script>
    

{% endblock content %}
