{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="post"
          enctype="multipart/form-data"
          action="./"
          style="margin-left: 30px">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}  <!-- This already handles all the form fields, including the image field -->
        <div class="form-group">
            <!-- Botón para guardar como borrador -->
            <button type="submit"
                    name="save"
                    class="btn btn-secondary"
                    style="background-color: gray;
                           border-color: gray;
                           color: white">Guardar</button>
        </div>
    </form>
{% endblock content %}
