{% extends  "register_base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="p-4 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="d-flex flex-row align-items-center">
                <h1 class="display-6 fst-italic mb-4">Contenido</h1>
                <a href="{% url 'inactives_list' %}"
                   class="btn btn-secondary ms-auto"
                   style="background-color: black;
                          border-color: black;
                          color: white">Inactivos</a>
            </div>
            <table class="table table-hover table-striped">
                <thead class="table-dark fst-italic">
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha de Creación</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>
                                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                            </td>
                            <td>{{ post.category }}</td>
                            <td>{{ post.status }}</td>
                            <td>{{ post.creation_date }}</td>
                            <td class="actions">
                                <a href="{% url 'post_statistics' post.id %}"
                                   class="btn btn-sm btn-danger"
                                   style="background-color: black;
                                          border-color: black;
                                          color:white">Detalles</a>
                                {% if perm_create or perm_edit %}
                                    <a href="{% url 'edit_post' post.id %}"
                                       class="btn btn-sm btn-primary"
                                       style="background-color: black;
                                              border-color: black;
                                              color:white">Editar</a>
                                {% endif %}
                                {% if perm_highlight %}
                                    <a href="{% url 'highlight_post' post.id %}"
                                       class="btn btn-sm btn-primary"
                                       style="background-color: black;
                                              border-color: black;
                                              color:white">Destacar</a>
                                {% endif %}
                                {% if perm_delete %}
                                    <a href="{% url 'inactivate_post' post.id %}"
                                       class="btn btn-sm btn-danger mt-2"
                                       style="background-color: black;
                                              border-color: black;
                                              color:white">Inactivar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if perm_create %}
                <a href="{% url 'post_create' %}"
                   class="btn btn-primary"
                   style="background-color: black;
                          border-color: black;
                          color:white">Crear Post</a>
            {% endif %}
            <a href="{% url 'home' %}"
               class="btn btn-secondary"
               style="background-color: black;
                      border-color: black;
                      color:white">Volver al Inicio</a>
        </div>
    </div>
{% endblock %}
