{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- Contenidos Favoritos -->
        <div class="p-4 mb-4 rounded text-body-emphasis bg-body-secondary">
            <h1 class="display-6 fst-italic mb-4">Contenido Favorito</h1>
            <p class="mb-4">Todos tus contenidos preferidos al alcanze de tus manos!</p>
            <table class="table table-hover table-striped">
                <thead class="table-dark fst-italic">
                    <tr>
                        <th scope="col">Portada</th> <!-- Nueva columna para la imagen -->
                        <th scope="col">Título</th>
                        <th scope="col">Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts_favorites %}
                        <tr onclick="location.href='{% url 'post_detail' post.id %}'"
                            style="cursor:pointer">
                            <td>
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}"
                                         class="img-fluid" style="height: 100px; width: 100px; object-fit: cover;">
                                {% else %}
                                    <img src="{% static 'images/makex.png' %}" alt="{{ post.title }}"
                                         class="img-fluid" style="height: 100px; width: 100px; object-fit: cover;">
                                {% endif %}
                            </td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.category }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Categorías de Interés -->
        <div class="p-4 mb-4 rounded text-body-emphasis bg-body-secondary">
            <h1 class="display-6 fst-italic mb-4">Categorías de Interés</h1>
            <p class=" mb-4">Todos las categorias preferidas  por ti a solo un click!</p>
            {% if categorias_interes %}
                <div class="row">
                    {% for categoria in categorias_interes %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                {% if categoria.image %}
                                    <img src="{{ categoria.image.url }}" class="card-img-top" alt="{{ categoria.name }}"
                                         style="height: 200px; object-fit: cover;">
                                {% else %}
                                    <img src="{% static 'images/makex.png' %}" class="card-img-top" alt="{{ categoria.name }}"
                                         style="height: 200px; object-fit: cover;">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ categoria.name }}</h5>
                                    <p class="card-text">
                                        <strong>Tipo:</strong> {{ categoria.tipo }} <br>
                                        <strong>Descripción:</strong> {{ categoria.description|truncatewords:20 }}
                                    </p>
                                    <a href="{% url 'category_detail' categoria.id %}" class="btn btn-primary">Ver más</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No tienes categorías de interés todavía.</p>
            {% endif %}
        </div>

        <a href="{% url 'home' %}" class="btn btn-secondary"
           style="background-color: black; border-color: black; color:white">Volver al Inicio</a>
    </div>
{% endblock %}






