{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
{% endblock head %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="content-wrapper">
                <!-- Información del post -->
                <div class="post-header mb-5">
                    <h1 class="display-4 fw-bold mb-3"># {{ post.title }}</h1>
                    <p class="text-muted">
                        <!-- FIX: anadir los titulos que debe de ser aca -->
                        <small>
                        Por Elias Gill | 01/01/2001 |
                        <span class="border border-success p-1 rounded white">#cafe</span>
                        <span class="border border-warning p-1 rounded white">#cocina</span>
                    </small>
                    </p>
                    <!-- Puedes añadir más detalles aquí como categorías o etiquetas -->
                </div>
                <!-- Contenido del post -->
                <div id="content" class="markdown-content"></div>
            </div>
        </div>
    </div>
    <!-- Include the Marked.js library -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>
        document.getElementById('content').innerHTML =
            marked.parse("{{ post.content|escapejs }}");
        hljs.highlightAll();
    </script>
{% endblock %}
