{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
{% endblock head %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="content-wrapper">
                <!-- Información del post -->
                <div class="post-header mb-5">
                    <h1 class="display-4 fw-bold mb-3"># {{ post.title }}</h1>
                    <p class="text-muted">
                        <!-- FIX: anadir los titulos que debe de ser aca -->
                        <small>
                            Por {{ post.author }} | {{ post.creation_date }} |
                            {% if post.tags %}
                                {% for tag in tags %}<span class="white mx-1"><span class="text-primary">#</span>{{ tag }}</span>{% endfor %}
                            {% endif %}
                        </small>
                    </p>
                    <!-- Puedes añadir más detalles aquí como categorías o etiquetas -->
                </div>
                <!-- Contenido del post -->
                <div id="content" class="markdown-content">{{ post.content|safe }}</div>
            </div>
        </div>
    </div>
    <div id="lightbox" class="lightbox" onclick="closeLightbox()">
        <span class="close">&times;</span>
        <img id="lightboxImage" class="lightbox-content">
    </div>
    <!-- Include the Marked.js library -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>
        document.getElementById('content').innerHTML =
            marked.parse("{{ post.content|escapejs }}");
        hljs.highlightAll();
    </script>
    <script>
        // Selecciona todos los enlaces que contienen imágenes en el contenido del post
        document.querySelectorAll('#content a img').forEach(img => {
            img.parentElement.addEventListener('click', function (event) {
                event.preventDefault();  // Evita que el enlace redirija
                openLightbox(img.src);  // Abre el lightbox con la imagen clicada
            });
        });
    
        function openLightbox(src) {
            document.getElementById("lightbox").style.display = "block";
            document.getElementById("lightboxImage").src = src;
        }
    
        function closeLightbox() {
            document.getElementById("lightbox").style.display = "none";
        }
    </script>
{% endblock %}
