{% extends "base.html" %}
{% block content %}
    <div class="container my-5">
        <!-- Sección de Información del Post -->
        <div class="row mb-5">
            <div class="col-md-12">
                <h3 class="mb-4">Información del Post</h3>
                <table class="table table-hover table-striped">
                    <thead class="table-dark fst-italic">
                        <tr>
                            <th scope="col">Campo</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Título</td>
                            <td>{{ post.title }}</td>
                        </tr>
                        <tr>
                            <td>Imagen</td>
                            <td>
                                {% if post.image %}
                                    <img src="{{ post.image.url }}"
                                         alt="Imagen del post"
                                         style="max-width: 120px">
                                {% else %}
                                    No disponible
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Categoría</td>
                            <td>{{ post.category }}</td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td>{{ post.status }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Creación</td>
                            <td>{{ post.creation_date }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Publicación</td>
                            <td>{{ post.publication_date }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Publicación Agendada</td>
                            <td>{{ post.scheduled_publication_date }}</td>
                        </tr>
                        <tr>
                            <td>Autor</td>
                            <td>{{ post.author }}</td>
                        </tr>
                        <tr>
                            <td>Tags</td>
                            <td>
                                {% for tag in post.tags.all %}
                                    {{ tag }}
                                    {% if not forloop.last %},{% endif %}
                                {% empty %}No tags
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Versión</td>
                            <td>{{ post.version }}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="diff-container"></div>
            </div>
        </div>
        <!-- Sección de Estadísticas -->
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="mb-4">Estadísticas</h3>
                <table class="table table-hover table-striped">
                    <thead class="table-dark fst-italic">
                        <tr>
                            <th scope="col">Estadística</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Comentarios</td>
                            <td>{{ disqus.total_comments }}</td>
                        </tr>
                        <tr>
                            <td>Likes</td>
                            <td>{{ disqus.likes }}</td>
                        </tr>
                        <tr>
                            <td>Dislikes</td>
                            <td>{{ disqus.dislikes }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <canvas id="commentsChart" width="400" height="200"></canvas>
            </div>
        </div>
        <!-- Sección de Logs -->
        <div class="row mb-5">
            <div class="col-md-12">
                <h3 class="mb-4">Logs</h3>
                <table class="table table-hover table-striped">
                    <thead class="table-dark fst-italic">
                        <tr>
                            <th scope="col">Fecha de Creación</th>
                            <th scope="col">Mensaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                            <tr>
                                <td>{{ log.creation_date }}</td>
                                <td>{{ log.message|linebreaksbr }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'post_log_list' post.id %}" class="btn btn-primary">Mas</a>
            </div>
        </div>
        <!-- Sección de Versiones -->
        <div class="row">
            <div class="col-md-4">
                <h3 class="mb-4">Últimas Versiones</h3>
                <table class="table table-hover table-striped">
                    <thead class="table-dark fst-italic">
                        <tr>
                            <th scope="col">Versión</th>
                            <th scope="col">Fecha de creacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for version in versions %}
                            <tr>
                                <td>
                                    <a href="{% url 'post_version_detail' version.post_id version.version %}">Versión {{ version.version }}</a>
                                </td>
                                <td>
                                    {{ version.creation_date }}
                                    <br>
                                    <em>{{ version.description }}</em>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-muted">No hay versiones disponibles</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'post_versions' post.id %}" class="btn btn-primary">Mas</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
    
    <script>
        // Asegúrate de pasar los datos del backend al frontend
        const commentsData = {{ disqus.comments_by_day| safe }};
        const likes = {{ disqus.likes }};
        const dislikes = {{ disqus.dislikes }};

        // Convertir las claves (fechas) del diccionario en etiquetas (eje X)
        const labels = Object.keys(commentsData);

        // Convertir los valores (cantidad de comentarios) en datos (eje Y)
        const data = Object.values(commentsData);

        const ctx = document.getElementById('commentsChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line', // Tipo de gráfico (línea)
            data: {
                labels: labels, // Fechas
                datasets: [{
                    label: 'Número de Comentarios',
                    data: data, // Cantidad de comentarios por día
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Fecha'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Cantidad de Comentarios'
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}
