{% extends "base.html" %}
{% block content %}
    <div class="container mt-5 text-white">
        <h1 class="mb-4">Detalles Rol: {{ group.name }}</h1>
        <!-- role Permissions -->
        <h3 class="text-light">Permisos</h3>
        {% if role.permissions.all %}
            <ul class="list-unstyled mb-4">
                {% for perm in role.permissions.all %}<li class="bg-secondary rounded p-2 mb-2">{{ perm.name }}</li>{% endfor %}
            </ul>
        {% else %}
            <p>Este rol no tiene asignado permisos.</p>
        {% endif %}
        <!-- role Members -->
        <h3 class="text-light">Miembros</h3>
        {% if role.user_set.all %}
            <ul class="list-unstyled mb-4">
                {% for user in role.user_set.all %}
                    <li class="bg-secondary rounded p-2 mb-2">{{ user.username }} ({{ user.email }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Este rol no tiene asignado usuarios.</p>
        {% endif %}
    </div>
{% endblock content %}
